@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-left: 300px;
}

header {
    background-color: #e4000f;
    margin-bottom: 1.5em;
}

.hamburger-menu {
    display: none;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 300px;
    background-color: #3B4CCA;
    transition: all 0.5s ease;
    z-index: 1;
    overflow-y: scroll;
}

aside h2 {
    font-family: 'Press Start 2P';
    color: #f5f5f5;
    text-align: center;
    margin-top: 1em;
}


aside ul {
    color: #fff;
    overflow-x: hidden;
}

aside li {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

aside li:hover {
    background-color: #fff;
    color: #3B4CCA;
}

h1 {
    font-family: 'Press Start 2P' !important;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    color: #fff !important;
}

.container {
    display: flex;
    justify-content: center;
    padding-left: 100px !important;
    margin-top: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 350px;
    margin: 2em;
    transition: all 0.5s ease;
}

.card:hover {
    transform: scale(1.05);
}

.flip {
    transform: rotateY(180deg);
}


img {
    width: 200px;
    height: 200px !important;
    transition: all 0.5s ease;
}

tbody>tr:nth-child(1):hover {
    background-color: #f5f5f5;
}

tbody>tr:nth-child(2):hover {
    background-color: #f5f5f5;
}

tbody>tr:nth-child(3):hover {
    background-color: #f5f5f5;
}

.btn {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 200px;
    background-color: #e4000f;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: transparent;
    color: #000;
    border: 1px solid #3B4CCA;
}

.btn:active {
    transform: scale(0.95);
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        margin: 0;
        color: #fff !important;
        margin: 0 !important;
    }

    aside {
        max-width: 80%;
        transform: translateX(-100%);
    }

    .show-aside {
        transform: translateX(0);
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        right: 0;
        font-size: 2rem;
        margin: 1rem;
        cursor: pointer;
        z-index: 2;
        color: #fff;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 !important;
    }

    .table {
        display: grid;
        place-content: center;
    }
}
